.outerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background: skyblue;
}

.maindiv {
    width: 400px;
    background: white;
    display: flex;
    height: 400px;
    flex-wrap: wrap;
}

/* .maindiv:hover {
    transform: rotate(90deg);
} */

.firstdiv {
    width: 200px;
    background-color: red;
}

.seconddiv {
    width: 200px;
    background-color: yellow;
}

.thirddiv {
    width: 200px;
    background-color: blue;
}

.fourthdiv {
    width: 200px;
    background-color: green;
}


.maindiv:hover .firstdiv {
	animation: rotate 2s;
}

.maindiv:hover .seconddiv {
	animation: rotate 2s;
}

.maindiv:hover .thirddiv {
	animation: rotate2 2s;
}

.maindiv:hover .fourthdiv {
	animation: rotate2 2s;
}

@keyframes rotate {
	0% {
		transform-origin: -100px -100px;
	}

	100% {
		translate: -0px -200px;
        transform: rotate(-90deg);
	}
}

@keyframes rotate2 {
	0% {
		transform-origin: -100px -100px;
	}

	100% {
		translate: -0px 200px;
        transform: rotate(-90deg);
	}
}